<div class="account-setting">
    <div class="header">
        <h1>Accounts</h1>
    </div>
    <div class="body">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="student-wise Accounts">
                <app-studentwise-accounts></app-studentwise-accounts>
            </mat-tab>
            <mat-tab label="Class-wise Accounts">
                <app-classwise-accounts></app-classwise-accounts>
            </mat-tab>
            <mat-tab label="overall-Accounts">
                <app-overall-accounts></app-overall-accounts>
            </mat-tab>
        </mat-tab-group>
    </div>