<div class="account-setting">
    <div class="body">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [selectedIndex]="selectedIndex" 
            (selectedIndexChange)="changeTab($event)">
            <mat-tab label="student-wise Accounts">
                <ng-template matTabContent>
                        <app-studentwise-accounts></app-studentwise-accounts>
                </ng-template>
            </mat-tab>
            <mat-tab label="Class-wise Accounts">
                <ng-template matTabContent>
                        <app-classwise-accounts (changeTab)="changeTab($event)"></app-classwise-accounts>
                </ng-template>
            </mat-tab>
            <mat-tab label="overall-Accounts">
                <ng-template matTabContent>
                        <app-overall-accounts></app-overall-accounts>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>