@if (dataSource.data.length != 0) {
    <table mat-table [dataSource]="dataSource">
    
        <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->
    
        <!-- invoiceId Column -->
        <ng-container matColumnDef="className">
            <th mat-header-cell *matHeaderCellDef> Class </th>
            <td mat-cell *matCellDef="let element"> {{element.className}} </td>
        </ng-container>
    
        <!-- purpose Column paymentName-->
        <ng-container matColumnDef="actualAmount">
            <th mat-header-cell *matHeaderCellDef> Actual Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.actualAmount}} </td>
        </ng-container>
    
        <!-- Amount Column -->
        <ng-container matColumnDef="receivedAmount">
            <th mat-header-cell *matHeaderCellDef> Received Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.receivedAmount}} </td>
        </ng-container>
    
        <!-- Amount Column -->
        <ng-container matColumnDef="pendingAmount">
            <th mat-header-cell *matHeaderCellDef> Pending Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.pendingAmount}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    }
    @if(dataSource.data.length == 0){
    <div class="no-record">No Records Found</div>
    }