<div class="float-end">
    <button class="btn btn-primary" (click)="openAddTeacher()">Add Teacher</button>
</div>
<div class="row">
    <div class="col-md-4">
        @for (item of teacherList; track item) {
            <div class="card" (click)="viewTeacherDetails(item.id)">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 text-center">
                            <a href="professors.html"><img src="../../../../assets/teacher_f.jpg" alt="user" class="img-circle img-responsive"></a>
                        </div>
                        <div class="col-md-8">
                            <h5 class="card-title mb-0">{{item.firstName}} {{item.lastName}}</h5> <small>{{item.designation}}</small>
                            <p class="mt-15">
                                <span class="d-block mb-10">{{item.dateOfBirth | date:'d/M/YYYY'}}</span>
                                <abbr title="Phone"><i class="bi bi-telephone"></i></abbr> {{item.phoneNumber}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>