<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 col-sm-12 text-center">
                        <a href="professors.html"><img src="../../../../assets/teacher_f.jpg" alt="user" class="img-circle img-responsive"></a>
                    </div>
                    <div class="col-md-8">
                        <h5 class="card-title mb-0">Johnathan Doe</h5> <small>HOD</small>
                        <p class="mt-15">
                            <span class="d-block mb-10">Po Box 453, Seaboard, NC, 27876</span>
                            <abbr title="Phone"><i class="bi bi-telephone"></i></abbr> (021) 123-4215
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>