.school-expenses {
    border: 1px solid #ffff;
    border-radius: 17.5px;
    background-color: #ffff;

    .header {
        margin: 10px;

        h1 {
            margin-bottom: auto !important;
        }

        .header-sub-section {
            display: flex;
            flex-direction: column;
        }
    }

    .body {
        mat-form-field {
            width: 100%;
        }

        .expenses-table {
            width: 100%;
        }
    }
}