.school-expenses {
    border: 1px solid #ffff;
    margin: 30px 30px;
    border-radius: 17.5px;
    background-color: #ffff;

    .header {
        margin: 10px;

        h1 {
            margin-bottom: auto !important;
        }

        .header-sub-section {
            display: flex;
            flex-direction: column;
        }
    }

    .body {
        display: flex;
        align-items: center;
        flex-direction: column;
        // height: 250px;

        .expenses-filters{
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
        }

        .expenses-table {
            width: 100%;
        }
    }
}