<h1 mat-dialog-title>Create Expenses</h1>
<mat-dialog-content>
    <form [formGroup]="expensesForm">
        <mat-form-field appearance="outline">
            <mat-label>Miscellanous</mat-label>
            <mat-select formControlName="miscellanous">
                @for (mode of miscellanousList; track mode) {
                <mat-option [value]="mode">{{mode}}</mat-option>
                }
            </mat-select>
            @if(f['miscellanous'].invalid && f['miscellanous'].touched) {
                <mat-error>Miscellanous is required.</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Date of Expenses</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="doe">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if(f['doe'].invalid && f['doe'].touched) {
                <mat-error>Date of Expense is required.</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Amount</mat-label>
            <input matInput formControlName="amount"/>
            @if(f['amount'].invalid && f['amount'].touched) {
                <mat-error>Amount is required.</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Remarks</mat-label>
            <textarea matInput formControlName="remarks"></textarea>
            @if(f['remarks'].invalid && f['remarks'].touched) {
                <mat-error>Remarks is required.</mat-error>
            }
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button color="primary" (click)="saveExpenses()">Save</button>
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>