<h2 mat-dialog-title>Downlaod PDF</h2>
<mat-dialog-content>
  <div #receipt class="receipts">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-9 text-center">
        <h1 class="mb-0">FATIMAH ZAHARA (R.A.) SCHOOL</h1>
        <p class="mb-0">English Medium School For Girls</p>
        <p class="mb-0">B/h. Royal Appartment, Junighadi, Vadodara, Gujarat-390006.</p>
        <p class="mb-0">Phone No.: 0205-2518677</p>
      </div>
      <div class="col-1"></div>
    </div>
    <hr/>
    <div class="text-center"><strong>Admission Form</strong></div>
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <strong>No:</strong>
        <p>{{studentForm!.id}}</p>
      </div>
      <div class="d-flex">
        <strong>Date:</strong>
        <p>{{todayDate | date: 'dd/MM/YYYY'}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9 row">
        <div class="col-sm-4">
          <strong>Students Name:</strong>
          <p>{{studentForm!.firstName ? studentForm!.firstName +' '+ studentForm!.lastName : ''}}</p>
        </div>
        <div class="col-sm-4">
          <strong>Date OF Birth:</strong>
          <p> {{studentForm!.dob ? (studentForm!.dob | date: 'mediumDate') : 'N/A'}}</p>
        </div>
        <div class="col-sm-4">
          <strong>Class:</strong>
          <p> {{studentForm!.className ? studentForm!.className : 'N/A'}}</p>
        </div>
        <div class="col-sm-4">
          <strong>Section:</strong>
          <p> {{studentForm!.section ? studentForm!.section : 'N/A'}}</p>
        </div>
        <div class="col-sm-4">
          <strong>Gender:</strong>
          <p> {{studentForm!.gender ? studentForm!.gender : 'N/A'}}</p>
        </div>
        <div class="col-sm-4">
          <strong>Aadhar Number:</strong>
          <p> {{studentForm!.adharNumber ? studentForm!.adharNumber : 'N/A'}}</p>
        </div>
      </div>
      <div class="col-sm-3">
        @if (imgViewer) {
          <div class="img-viewer">
              <img id="imgviewer" [src]="imgViewer" width="100" height="100" style="width: 100%;" />
          </div>
          }
          @else {
          <div class="empty-img">Photo</div>
          }
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <strong>Father Name:</strong>
        <p> {{fatherInfo!.firstName ? fatherInfo!.firstName +' '+ fatherInfo!.lastName : 'N/A'}}</p>
      </div>
      <div class="col-sm-3">
        <strong>Occupation:</strong>
        <p> {{fatherInfo!.occupation ? fatherInfo!.occupation : 'N/A'}}</p>
      </div>
      <div class="col-sm-3">
        <strong>Qualification:</strong>
        <p> {{fatherInfo!.qualification ? fatherInfo!.qualification : 'N/A'}}</p>
      </div>
      <div class="col-sm-3">
        <strong>Contact No:</strong>
        <p> {{fatherInfo!.contactNumber ? fatherInfo!.contactNumber : 'N/A'}}</p>
      </div>
      <div class="col-sm-3">
        <strong>Email:</strong>
        <p> {{fatherInfo!.email ? fatherInfo!.email : 'N/A'}}</p>
      </div>
      <div class="col-sm-3">
        <strong>Aadhar Number:</strong>
        <p> {{fatherInfo!.adharNumber ? fatherInfo!.adharNumber : 'N/A'}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <strong>Mother Name:</strong>
        <p> {{motherInfo!.firstName ? motherInfo!.firstName +' '+ motherInfo!.lastName : 'N/A'}}</p>
      </div>
      <div class="col-sm-3">
        <strong>Occupation:</strong>
        <p> {{motherInfo!.occupation ? motherInfo!.occupation : 'N/A'}}</p>
      </div>
      <div class="col-sm-3">
        <strong>Qualification:</strong>
        <p> {{motherInfo!.qualification ? motherInfo!.qualification : 'N/A'}}</p>
      </div>
      <div class="col-sm-3">
        <strong>Contact No:</strong>
        <p> {{motherInfo!.contactNumber ? motherInfo!.contactNumber : 'N/A'}}</p>
      </div>
      <div class="col-sm-3">
        <strong>Email:</strong>
        <p> {{motherInfo!.email ? motherInfo!.email : 'N/A'}}</p>
      </div>
      <div class="col-sm-3">
        <strong>Aadhar Number:</strong>
        <p> {{motherInfo!.adharNumber ? motherInfo!.adharNumber : 'N/A'}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <strong>Address</strong>
        <p>H.No: {{address!.houseNo ? address!.houseNo : '-'}}, Street: {{address!.streetName ? address!.streetName : '-'}}, {{address!.city ? address!.city : '-'}},
          <br>District: {{address!.district ? address!.district : ''}},State: {{address!.state ? address!.state : ''}},
          <br>Country: {{address!.country ? address!.country : ''}},PinCode: {{address!.zipCode ? address!.zipCode : ''}}.</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-sm-4">
        Principal Sign.
      </div>
      <div class="col-sm-4 text-center">
        Academic Incharge Sign.
      </div>
      <div class="col-sm-4 text-center">
        Parent Sign.
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" class="btn btn-primary" (click)="downloadReceipt()">Download</button>
  <button type="button" class="btn btn-light ms-2" mat-dialog-close>Cancel</button>
</mat-dialog-actions>