<div class="school-setting">
    <div class="body">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="Enquiry Setup">
                <ng-template matTabContent>
                    <app-enquiry-form-questions></app-enquiry-form-questions>
                </ng-template>
            </mat-tab>
            <mat-tab label="Class Room Setup">
                <ng-template matTabContent>
                    <app-class-settings></app-class-settings>
                </ng-template>
            </mat-tab>
            <mat-tab label="Subject">
                <ng-template matTabContent>
                    <app-subjects></app-subjects>
                </ng-template>
            </mat-tab>
            <mat-tab label="Payment">
                <ng-template matTabContent>
                    <app-payment-settings></app-payment-settings>
                </ng-template>
            </mat-tab>
            <mat-tab label="Exam">
                <ng-template matTabContent>
                    <app-exam></app-exam>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>