<div class="school-setting">
    <div class="body">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="Enquiry Setup">
                <app-enquiry-form-questions></app-enquiry-form-questions>
            </mat-tab>
            <mat-tab label="Class Room Setup">
                <app-class-settings></app-class-settings>
            </mat-tab>
            <mat-tab label="Payment">
                <app-payment-settings></app-payment-settings>
            </mat-tab>
        </mat-tab-group>
    </div>