<div class="school-setting">
    <div class="header">
        <h1>Settings</h1>
    </div>
    <div class="body">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="Enquiry Setup">
                <app-enquiry-form-questions></app-enquiry-form-questions>
            </mat-tab>
            <mat-tab label="Class Room Setup">
                <app-class-settings></app-class-settings>
            </mat-tab>
            <mat-tab label="Payment">Content 3</mat-tab>
        </mat-tab-group>



        <!-- <form [formGroup]="settingsForm">
            <div>
                <mat-form-field appearance="outline">
                    <input matInput [formControl]="className"/>
                </mat-form-field>
                <button mat-flat-button color="accent" (click)="addClassList()">Add Class</button>
            </div>
            <div formArrayName="classes">
                @for(class of items.controls; track class; let i=$index) {
                <div [formGroupName]="i">
                    <mat-accordion>
                        <mat-expansion-panel hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Class {{class.value.className}}
                                </mat-panel-title>
                                <mat-panel-description>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="panel-body">
                                <div class="section-portion">
                                    <button mat-flat-button color="primary" (click)="addSectionList(i)">Add
                                        Section</button>
                                    <div formArrayName="sections">
                                        @for(section of sectionList(i).controls; track section; let j=$index) {
                                        <div [formGroupName]="j" class="section-field">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Section</mat-label>
                                                <input matInput formControlName="sectionName" />
                                            </mat-form-field>
                                            <button mat-flat-button color="warn"
                                                (click)="removeSectionItem(i,j)">remove</button>
                                        </div>
                                        }
                                    </div>
                                </div>
                                <div class="fee-portion">
                                    <button mat-flat-button color="primary" (click)="addFeeList(i)">Add
                                        Fee Name</button>
                                    <div formArrayName="feeNames">
                                        @for(fee of feeList(i).controls; track fee; let k=$index) {
                                        <div [formGroupName]="k">
                                            <div class="fee-structure">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Fee Name</mat-label>
                                                    <input matInput formControlName="feeName" />
                                                </mat-form-field>
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Amount</mat-label>
                                                    <input matInput formControlName="amount"/>
                                                </mat-form-field>
                                                <mat-checkbox class="example-margin" formControlName="isTotal">Is Considered As Total
                                                    Fee</mat-checkbox>
                                                <button mat-flat-button color="primary" (click)="addSubFeeName(i,k)">Add
                                                    Sub Fee Name</button>
                                                <button mat-flat-button color="warn"
                                                    (click)="removeFeeName(i,k)">remove</button>
                                            </div>
                                            <div formArrayName="feeNames">
                                                    @for(subfee of subFeeList(i,k).controls; track subfee; let l=$index) {
                                                    <div [formGroupName]="l" class="fee-structure">
                                                        <mat-form-field appearance="outline">
                                                            <mat-label>Sub Fee Name</mat-label>
                                                            <input matInput formControlName="subFeeName" />
                                                        </mat-form-field>
                                                        <button mat-flat-button color="warn"
                                                            (click)="removeSubFeeName(i,k,l)">remove</button>
                                                    </div>
                                                    }
                                            </div>
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                }
            </div>
        </form> -->
    </div>