<div class="box">
    <div class="box-body">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h1>
                    Attendance History
                </h1>
                <h4>Today Wed, Sep 2,2023</h4>
                
                <hr>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                            <mat-button-toggle value="bold">Present</mat-button-toggle>
                            <mat-button-toggle value="italic">Absent</mat-button-toggle>
                            <mat-button-toggle value="underline">Half Day</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Select Date Range</mat-label>
                            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                                <input matStartDate formControlName="start" placeholder="Start date">
                                <input matEndDate formControlName="end" placeholder="End date">
                              </mat-date-range-input>
                              <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 float-end">
                <div class="row text-end">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h4 class="mb-0">Total Attendance</h4>
                        <h2 class="mb-0">11 days</h2>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h4 class="mb-0">Present</h4>
                        <h2 class="mb-0">6 days</h2>
                    </div>
                </div>
                <div class="row text-end">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h4 class="mb-0">Absent</h4>
                        <h2 class="mb-0">4 days</h2>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h4 class="mb-0">Half Day</h4>
                        <h2 class="mb-0">2 days</h2>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4 col-sm-12 col-md-6">
                <div class="card">
                    <div class="card-body border-left-success badge-success">
                        <div class="card-title d-flex justify-content-between align-items-center">
                          <span>Wed, Aug 13, 2024</span>
                          <span>Present</span>
                        </div>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-sm-12 col-md-6">
                <div class="card">
                    <div class="card-body border-left-danger badge-danger">
                        <div class="card-title d-flex justify-content-between align-items-center">
                          <span>Wed, Aug 13, 2024</span>
                          <span>Absent</span>
                        </div>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-sm-12 col-md-6">
                <div class="card">
                    <div class="card-body border-left-warning badge-warning">
                        <div class="card-title d-flex justify-content-between align-items-center">
                          <span>Wed, Aug 13, 2024</span>
                          <span>Half Day</span>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
