<div class="today-collection">
    <div class="header">
        <h1>TODAY'S COLLECTION</h1>
        <!-- <div class="header-right-section">
            <span>Academic Session: All</span>
            <mat-icon (click)="redirectToReport()">aspect_ratio</mat-icon>
        </div> -->
    </div>
    <div class="body">
        <!-- <div class="collection-filter">
            <mat-form-field appearance="outline">
                <mat-select>
                  @for (time of timeList; track time) {
                    <mat-option [value]="time.value">{{time.viewValue}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
        </div> -->
        <div class="collection-graph">
          <canvas id="canvas" width="500" height="150"></canvas>
        </div>
    </div>
</div>