<div class="admission-field">
    <mat-form-field appearance="outline">
        <mat-label>Admission Number</mat-label>
        <input matInput [formControl]="stdId" />
    </mat-form-field>
    <button mat-flat-button color="primary" type="button" (click)="getStdInfo()">Search</button>
</div>
@if (stdInfo?.students) {
    <div class="student-info">
        <div>
            <span>Name:</span> <span>{{stdInfo?.students.firstName}} {{stdInfo?.students.lastName}}</span>
        </div>
        <div>
            <span>Class:</span> <span>{{stdInfo?.students.className}}</span>
        </div>
        <div>
            <span>Section:</span> <span>{{stdInfo?.students.section}}</span>
        </div>
    </div>
}
@if (dataSource.data.length != 0) {
<table mat-table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->

    <!-- invoiceId Column -->
    <ng-container matColumnDef="invoiceId">
        <th mat-header-cell *matHeaderCellDef> Receipt No. </th>
        <td mat-cell *matCellDef="let element"> {{element.invoiceId}} </td>
    </ng-container>

    <!-- purpose Column paymentName-->
    <ng-container matColumnDef="paymentName">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.paymentName}} </td>
    </ng-container>

    <!-- DOP Column feeName-->
    <ng-container matColumnDef="dateOfPayment">
        <th mat-header-cell *matHeaderCellDef> Date Of Payment </th>
        <td mat-cell *matCellDef="let element"> {{element.dateOfPayment | date:"d/M/YYYY"}} </td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="paymentAllotmentAmount">
        <th mat-header-cell *matHeaderCellDef> Actual Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.paymentAllotmentAmount}} </td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>


    <!-- Payment Column -->
    <ng-container matColumnDef="paymentType">
        <th mat-header-cell *matHeaderCellDef> Payment Mode </th>
        <td mat-cell *matCellDef="let element"> {{element.paymentType}} </td>
    </ng-container>

    <!-- Remarks Column -->
    <ng-container matColumnDef="remarks">
        <th mat-header-cell *matHeaderCellDef> Remarks </th>
        <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
            <mat-icon>print</mat-icon>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
}
@if(dataSource.data.length == 0 && stdInfo?.students){
<div class="no-record">No Records Found</div>
}
@if (!stdInfo?.students) {
    <div class="no-record">Use Search option to show details</div>
}