<div class="section-form mt-2">
    <button type="button" class="btn btn-primary mt-1 float-end" (click)="addExam()">Add Exam</button>
</div>
<div>
    <table mat-table [dataSource]="examDataSource" matSort #sectionSort (matSortChange)="announceSortChange($event)">

        <!-- Class Column -->
        <ng-container matColumnDef="examName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                Exam
            </th>
            <td mat-cell *matCellDef="let element">
                @if (!element.isEditSubjectMode) {
                    {{element.examName}}
                }
                @else {
                    <mat-form-field appearance="outline">
                        <input matInput [value]="element.examName" [(ngModel)]="element.examName"/>
                    </mat-form-field>
                }
            </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
                Action
            </th>
            <td mat-cell *matCellDef="let element">
                @if (element.isEditSubjectMode) {
                    <button class="btn btn-primary" (click)="updateExam(element)">Save</button>
                    <button class="btn btn-light ms-1" (click)="cancelChangingExmaName(element)">Cancel</button>
                }
                @else {
                    <button class="btn btn-primary" (click)="changeExamName(element)">Edit Exam</button>
                }
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedExamColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedExamColumns;"></tr>
    </table>
</div>

<ng-template #openExamPopup>
    <h1 mat-dialog-title>Exam</h1>
    <mat-dialog-content>
        <mat-form-field appearance="outline" class="py-2">
            <mat-label>Exam Name</mat-label>
            <input matInput [formControl]="examName"/>
            @if (examName.hasError('required') && examName.touched) {
                <mat-error>Exam Name is Required.</mat-error>
            }
            @else if (examName.hasError('maxlength') && examName.touched) {
                <mat-error>Exam Name  must not be exceed 50 characters.</mat-error>
            }
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button class="btn btn-primary ms-1" [mat-dialog-close]="true" (click)="saveExam()">Save</button>
        <button type="button" class="btn btn-light" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</ng-template>