<div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 pe-0 display-img">
        <!-- <div class="image"></div> -->
        <img src="../../../assets/School-college-ERP.jpg" width="100%"/>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 bg-white">
        <div class="auth-container">
            <mat-card appearance="outlined" class="auth-card">
                <mat-card-title class="auth-card-header">
                    <div class="auth-card-header-container">
                    </div>
                </mat-card-title>
                <mat-card-content class="auth-card-body">
                    <div id="sign-in-form">
                        <form [formGroup]="changePasswordForm" (submit)="resetPassword()">
                        <mat-form-field class="col-sm-12 col-md-6 col-lg-6" appearance="outline">
                            <mat-label>New Password</mat-label>
                            <input matInput [type]="newPasswordShowHide ? 'password' : 'text'" formControlName="newPassword"/>
                            @if(newPasswordShowHide){
                                <mat-icon matSuffix (click)="newPasswordShowHide = !newPasswordShowHide">visibility_off</mat-icon>
                            }
                            @else {
                                <mat-icon matSuffix (click)="newPasswordShowHide = !newPasswordShowHide">visibility</mat-icon>
                            }
                            @if(f['newPassword'].hasError('required') && f['newPassword'].touched) {
                                <mat-error>New Password is required.</mat-error>
                            }
                            @else if(f['newPassword'].hasError('pattern') && f['newPassword'].touched) {
                                <mat-error>Pattern should contain 1 Special character, 1 uppercase letter, 1 lowercase letter with 8 characters.</mat-error>
                            }
                        </mat-form-field>

                        <mat-form-field class="col-sm-12 col-md-6 col-lg-6" appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput [type]="confirmPasswordShowHide ? 'password' : 'text'" formControlName="confirmPassword"/>
                            @if(confirmPasswordShowHide){
                                <mat-icon matSuffix (click)="confirmPasswordShowHide = !confirmPasswordShowHide">visibility_off</mat-icon>
                            }
                            @else {
                                <mat-icon matSuffix (click)="confirmPasswordShowHide = !confirmPasswordShowHide">visibility</mat-icon>
            
                            }
                            @if(f['confirmPassword'].hasError('required') && f['confirmPassword'].touched) {
                                <mat-error>Confirm Password is required.</mat-error>
                            }
                            @else if(f['confirmPassword'].hasError('confirmedValidator') && f['confirmPassword'].touched) {
                                <mat-error>New Password and Confirm Password must be match</mat-error>
                            }
                        </mat-form-field>
                    </form>
                        <div class="form-button-container">
                            <button type="submit" mat-raised-button class="confirmation-but1ton" color="primary"
                                    id="sign-in-button" (click)="resetPassword()">
                                    Reset
                                </button>
                        </div>
                    
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>