mat-form-field {
    width: 100%;
}
td mat-form-field {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 0px;
}

@media (max-width: 500px) {
    .student-table {
        max-width: 500px;
        overflow: auto;
    }
}

.mat-column-photo{
    width: 150px;
}