<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h4 class="offcanvas-title m-0" id="offcanvasRightLabel">
        Quick Actions
      </h4>
      <button type="button" class="btn-danger-light btn-sm btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="col-6">
                <a class="waves-effect waves-light btn btn-app btn btn-primary-light btn-flat mx-0 mb-20 no-shadow py-35 h-auto d-block" href="accounting.html">
                    <i class="bi bi-currency-rupee fs-36"></i><br/>
                    <span class="fs-16">Accounting</span>
                </a>
            </div>
            <div class="col-6">
                <a class="waves-effect waves-light btn btn-app btn btn-primary-light btn-flat mx-0 mb-20 no-shadow py-35 h-auto d-block" href="accounting.html">
                    <i class="bi bi-gear fs-36"></i><br/>
                    <span class="fs-16">Settings</span>
                </a>
            </div>
        </div>
    </div>
</div>