<div style="display: flex; gap: 20px;">
    <div>
      <div>Parent Copy</div>
      <div>
        <h1 style=" margin-top: 0px;margin-bottom: 0px;text-align: center;">Receipt</h1>
      </div>
      <div style="text-align: end;">Receipt No: 1</div>
      <div>
        <div style="text-align: center; text-align: center; padding: 20px 0px; border: 1px solid;">
          <div>
            <h2 style="margin-top: 0px;margin-bottom: 0px;">SchoolUI Demo School</h2>
          </div>
          <div>
            <h4 style="margin-top: 0px;margin-bottom: 0px;">Charminar Hyderabad</h4>
          </div>
        </div>
        <div style="display: flex;justify-content: space-between;margin-top: 10px;margin-bottom: 10px;gap: 30px">
          <div>
            <div> <strong>Student :</strong> StudentName </div>
            <div> <strong>FatherName :</strong> Father Name </div>
          </div>
          <div>
            <div> <strong>Class :</strong> Grade 1 </div>
            <div> <strong>Student Reg No:</strong> SHF01 </div>
          </div>
        </div>
        <div>
          <table style="width: 100%; border: 1px solid black; border-collapse: collapse;">
            <thead>
              <tr>
                <th style="border: 1px solid black; border-collapse: collapse;">S.No</th>
                <th style="border: 1px solid black; border-collapse: collapse;">Particulars</th>
                <th style="border: 1px solid black; border-collapse: collapse;">Amount</th>
              </tr>
            </thead>
            <tbody style="text-align: center;">
              <tr>
                <td style="border: 1px solid black; border-collapse: collapse;">1</td>
                <td style="border: 1px solid black; border-collapse: collapse;">Tution Fee</td>
                <td style="border: 1px solid black; border-collapse: collapse;">Rs. 2000</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; border-collapse: collapse;">2</td>
                <td style="border: 1px solid black; border-collapse: collapse;">Admission Fee</td>
                <td style="border: 1px solid black; border-collapse: collapse;">Rs. 2500</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; border-collapse: collapse;">3</td>
                <td style="border: 1px solid black; border-collapse: collapse;">Term Fee</td>
                <td style="border: 1px solid black; border-collapse: collapse;">Rs. 500</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div style="display: flex; justify-content: space-between;margin-top: 40px;">
          <div>Parent's Signature</div>
          <div>Received By</div>
        </div>
        <div style="display: flex; justify-content: space-between;">
          <small>Date: 2/4/2024</small>
          <div>Cashier's Signature</div>
        </div>
      </div>
    </div>
  
    <div>
      <div>Office Copy</div>
      <div>
        <h1 style=" margin-top: 0px;margin-bottom: 0px;text-align: center;">Receipt</h1>
      </div>
      <div style="text-align: end;">Receipt No: 1</div>
      <div>
        <div style="text-align: center; text-align: center; padding: 20px 0px; border: 1px solid;">
          <div>
            <h2 style="margin-top: 0px;margin-bottom: 0px;">SchoolUI Demo School</h2>
          </div>
          <div>
            <h4 style="margin-top: 0px;margin-bottom: 0px;">Charminar Hyderabad</h4>
          </div>
        </div>
        <div style="display: flex;justify-content: space-between;margin-top: 10px;margin-bottom: 10px;gap: 30px">
          <div>
            <div> <strong>Student :</strong> StudentName </div>
            <div> <strong>FatherName :</strong> Father Name </div>
          </div>
          <div>
            <div> <strong>Class :</strong> Grade 1 </div>
            <div> <strong>Student Reg No:</strong> SHF01 </div>
          </div>
        </div>
        <div>
          <table style="width: 100%; border: 1px solid black; border-collapse: collapse;">
            <thead>
              <tr>
                <th style="border: 1px solid black; border-collapse: collapse;">S.No</th>
                <th style="border: 1px solid black; border-collapse: collapse;">Particulars</th>
                <th style="border: 1px solid black; border-collapse: collapse;">Amount</th>
              </tr>
            </thead>
            <tbody style="text-align: center;">
              <tr>
                <td style="border: 1px solid black; border-collapse: collapse;">1</td>
                <td style="border: 1px solid black; border-collapse: collapse;">Tution Fee</td>
                <td style="border: 1px solid black; border-collapse: collapse;">Rs. 2000</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; border-collapse: collapse;">2</td>
                <td style="border: 1px solid black; border-collapse: collapse;">Admission Fee</td>
                <td style="border: 1px solid black; border-collapse: collapse;">Rs. 2500</td>
              </tr>
              <tr>
                <td style="border: 1px solid black; border-collapse: collapse;">3</td>
                <td style="border: 1px solid black; border-collapse: collapse;">Term Fee</td>
                <td style="border: 1px solid black; border-collapse: collapse;">Rs. 500</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div style="display: flex; justify-content: space-between;margin-top: 40px;">
          <div>Parent's Signature</div>
          <div>Received By</div>
        </div>
        <div style="display: flex; justify-content: space-between;">
          <small>Date: 2/4/2024</small>
          <div>Cashier's Signature</div>
        </div>
      </div>
    </div>
  </div>