<h2 mat-dialog-title>Downlaod PDF</h2>
<mat-dialog-content>
  <div #receipt class="parent-receipt">
    <div>
      <div>Parent Copy</div>
      <div>
        <h1 class="receipt-title">Receipt</h1>
      </div>
      <div class="receipt-subtitle">Receipt No: {{invoiceId}}</div>
      <div>
        <div class="school-header">
          <div>
            <h2 class="school-name">SchoolUI Demo School</h2>
          </div>
          <div>
            <h4 class="school-subtitle">Charminar Hyderabad</h4>
          </div>
        </div>
        <div class="std-info">
          <div>
            <div> <strong>Student :</strong> {{stdInfo!.firstName}} {{stdInfo!.lastName}} </div>
            <div> <strong>FatherName :</strong> {{stdInfo!.father ? stdInfo!.father.firstName : 'NA'}}</div>
          </div>
          <div>
            <div> <strong>Class :</strong> {{stdInfo!.className}} <strong>Section :</strong> {{stdInfo!.section}}</div>
            <div> <strong>Student Reg No:</strong> {{stdInfo!.id}} </div>
          </div>
        </div>
        <div>
          <table class="std-fee">
            <thead class="text-center">
              <tr>
                <th class="tbl-header">S.No</th>
                <th class="tbl-header">Particulars</th>
                <th class="tbl-header">Amount</th>
              </tr>
            </thead>
            <tbody class="text-center">
              @for(item of receiptList; track item; let i=$index){
                <tr>
                  <td class="tbl-body">{{i+1}}</td>
                  <td class="tbl-body">{{item.paymentName}}</td>
                  <td class="tbl-body">Rs. {{item.amount}}</td>
                </tr>
              }             
            </tbody>
          </table>
        </div>
        @if (data.transactionType) {
          @for(item of data.transactionType | keyvalue; track item; let i=$index){
            <div class="mt-2">
              <span>{{ item.key }}: {{ item.value }}</span>
            </div>
          }
        }
        <div class="parent-signature">
          <div>Parent's Signature</div>
          <div>Received By</div>
        </div>
        <div class="cashier-signature">
          <small>Date: {{today | date: 'd/M/YYYY'}}</small>
          <div>Cashier's Signature</div>
        </div>
      </div>
    </div>

    <div>
      <div>Office Copy</div>
      <div>
        <h1 class="receipt-title">Receipt</h1>
      </div>
      <div class="receipt-subtitle">Receipt No: {{invoiceId}}</div>
      <div>
        <div class="school-header">
          <div>
            <h2 class="school-name">SchoolUI Demo School</h2>
          </div>
          <div>
            <h4 class="school-subtitle">Charminar Hyderabad</h4>
          </div>
        </div>
        <div class="std-info">
          <div>
            <div> <strong>Student :</strong> {{stdInfo!.firstName}} {{stdInfo!.lastName}} </div>
            <div> <strong>FatherName :</strong> {{stdInfo!.father ? stdInfo!.father.firstName : 'NA'}}</div>
          </div>
          <div>
            <div> <strong>Class :</strong> {{stdInfo!.className}} <strong>Section :</strong> {{stdInfo!.section}}</div>
            <div> <strong>Student Reg No:</strong> {{stdInfo!.id}} </div>
          </div>
        </div>
        <div>
          <table class="std-fee">
            <thead class="text-center">
              <tr>
                <th class="tbl-header">S.No</th>
                <th class="tbl-header">Particulars</th>
                <th class="tbl-header">Amount</th>
              </tr>
            </thead>
            <tbody class="text-center">
              @for(item of receiptList; track item; let i=$index){
                <tr>
                  <td class="tbl-body">{{i+1}}</td>
                  <td class="tbl-body">{{item.paymentName}}</td>
                  <td class="tbl-body">Rs. {{item.amount}}</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
        @if (data.transactionType) {
          @for(item of data.transactionType | keyvalue; track item; let i=$index){
            <div class="mt-2">
              <span>{{ item.key }}: {{ item.value }}</span>
            </div>
          }
        }
        <div class="parent-signature">
          <div>Parent's Signature</div>
          <div>Received By</div>
        </div>
        <div class="cashier-signature">
          <small>Date: {{today | date: 'd/M/YYYY'}}</small>
          <div>Cashier's Signature</div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" class="btn btn-primary ml-2" (click)="downloadReceipt()">Download</button>
  <button type="button" class="btn btn-secondary" mat-dialog-close>Cancel</button>
</mat-dialog-actions>