<div class="enquiry-list">
    <div class="body">
        <form [formGroup]="searchForm">
            <div class="row mt-4 mx-3">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Search by Name</mat-label>
                        <input type="text" matInput formControlName="name">
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <mat-form-field appearance="outline">
                       <mat-label>Class</mat-label>
                       <mat-select formControlName="className">
                           <mat-option [value]="''">[Any]</mat-option>
                           @for (class of classList; track class) {
                           <mat-option [value]="class.value">{{class.label}}</mat-option>
                           }
                       </mat-select>
                   </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Status</mat-label>
                        <mat-select  formControlName="status">
                            <mat-option [value]="null">[Any]</mat-option>
                            @for (stat of statusList; track stat) {
                            <mat-option [value]="stat.value">{{stat.label}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <button type="button" class="btn btn-primary" (click)="filterChanges()">Search</button>
                    <button type="button" class="btn btn-primary ms-1" routerLink="/create-enquiry">Add Enquiry</button>
                </div>
            </div>
        </form>
        @if(true) {
        <div class="student-table">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

                <!-- Student Name Column -->
                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                        Student Name
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div>{{element.firstName}} {{element.lastName}}</div>
                    </td>
                </ng-container>

                <!-- Class Column -->
                <ng-container matColumnDef="className">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                        Class
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.className}} </td>
                </ng-container>

                <!-- Guardian Column -->
                <ng-container matColumnDef="guardian">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                        Guardian
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.guardian}} </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                        Status
                    </th>
                    <td mat-cell *matCellDef="let element"> 
                        <span class="p-1" [ngClass]="element.status ?'theme-primary badge-success-light' : 'theme-primary badge-danger-light'">{{element.status ? 'Active' : 'InActive'}}</span>
                    </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>
                        Action
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <!-- <mat-icon (click)="editEnquiryForm(element)">edit</mat-icon> -->
                        <i class="bi bi-pencil" (click)="editEnquiryForm(element)"></i>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator #paginator [pageSizeOptions]="pageSizes" showFirstLastButtons></mat-paginator>
        </div>
        }
    </div>
</div>