.students-list {
    border: 1px solid #ffff;
    // margin: 30px 30px;
    border-radius: 17.5px;
    background-color: #ffff;


    .body {
        display: flex;
        // align-items: center;
        flex-direction: column;
        // height: 250px;


        .student-table {
            width: 100%;
        }
    }
}

mat-form-field {
    width: 100%;
}