<div class="students-list">
    <div class="body">
        <form [formGroup]="studentForm" (submit)="filterChanges()">
            <div class="row mt-3 mx-3">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Search by Name/Admission No</mat-label>
                        <input type="text" matInput formControlName="name">
                    </mat-form-field>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <!-- @if (classList.length) { -->
                    <mat-form-field appearance="outline">
                        <mat-label>Class</mat-label>
                        <mat-select formControlName="class">
                            <mat-option [value]="''">[Any]</mat-option>
                            @for (class of classList; track class) {
                            <mat-option [value]="class.value">{{class.label}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                     <!-- } -->
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                <!-- @if (sectionList.length) { -->
                <mat-form-field appearance="outline">
                    <mat-label>Section</mat-label>
                    <mat-select formControlName="section">
                        <mat-option [value]="''">[Any]</mat-option>
                            @for (sec of sectionList; track sec) {
                            <mat-option [value]="sec.value">{{sec.label}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                <!-- } -->
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                <mat-form-field appearance="outline">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option [value]="''">[Any]</mat-option>
                        @for (stat of statusList; track stat) {
                        <mat-option [value]="stat.value">{{stat.label}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                <button type="button" class="btn btn-primary">Search</button>
                <button type="button" class="btn btn-primary ms-1" type="button" (click)="resetForm()">Reset</button>
                </div>
            </div>
        </form>
        @if(true) {
            <div class="student-table">
                <table class="mobile-label" mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
    
                    <ng-container matColumnDef="photo">
                        <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by number">
                            
                        </th>
                        <td mat-cell *matCellDef="let element"> 
                            @if (element.photoExist) {
                                <img id="imgviewer" [src]="element.photo" width="35%" />
                            }
                            @else {
                                <img width="35%" alt="user" [src]="element.gender == 'Male' ? '../../../assets/avatar-13.png' : '../../../assets/avatar-14.jpg'">
                            }
                        </td>
                    </ng-container>
                    
                    <!-- Student Name Column -->
                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                            Student Name
                        </th>
                        <td mat-cell *matCellDef="let element"> 
                            <div>{{element.firstName}} {{element.lastName}}</div>
                            <div>AD.No: {{element.id}}</div>
                        </td>
                    </ng-container>
    
                    <!-- Class Column -->
                    <ng-container matColumnDef="class">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                            Class
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.className}} </td>
                    </ng-container>
    
                    <!-- Section Column -->
                    <ng-container matColumnDef="section">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
                            Section
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.section}} </td>
                    </ng-container>
    
                    <!-- Gender Column -->
                    <ng-container matColumnDef="gender">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                            Gender
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                    </ng-container>

                     <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                        Status
                    </th>
                    <td mat-cell *matCellDef="let element"> 
                        <span class="p-1" [ngClass]="element.status ?'theme-primary badge-success-light' : 'theme-primary badge-danger-light'">{{element.status ? 'Active' : 'InActive'}}</span>
                    </td>
                </ng-container>
    
                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef >
                            Action
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <i class="bi bi-pencil" routerLink="/student/{{element.id}}"></i>
                            <i class="bi bi-eye ms-3" routerLink="/student-details/{{element.id}}"></i>
                            <!-- <mat-icon routerLink="/student/{{element.id}}">edit</mat-icon> &nbsp;&nbsp;  -->
                            <!-- <mat-icon (click)="openPaymentDialog(element)">payments</mat-icon> &nbsp;&nbsp; 
                            <mat-icon (click)="openReceiptDialog(element)">receipts</mat-icon> -->
                        </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator
                #paginator
                [pageSizeOptions]="pageSizes"
                showFirstLastButtons
              ></mat-paginator>
            </div>
        }
    </div>
</div>