<div class="students-list">
    <div class="header">
        <h1>Students List</h1>
    </div>
    <div class="body">
        <form [formGroup]="studentForm" (submit)="filterChanges()">
            <div class="student-filters">
                <!-- @if (classList.length) { -->
                <mat-form-field appearance="outline">
                    <mat-label>Class</mat-label>
                    <mat-select formControlName="class">
                        <mat-option [value]="''">[Any]</mat-option>
                        @for (class of classList; track class) {
                        <mat-option [value]="class.value">{{class.label}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <!-- }
                @if (sectionList.length) { -->
                <mat-form-field appearance="outline">
                    <mat-label>Section</mat-label>
                    <mat-select formControlName="section">
                        <mat-option [value]="''">[Any]</mat-option>
                            @for (sec of sectionList; track sec) {
                            <mat-option [value]="sec.value">{{sec.label}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                <!-- } -->
                <mat-form-field appearance="outline">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option [value]="''">[Any]</mat-option>
                        @for (stat of statusList; track stat) {
                        <mat-option [value]="stat.value">{{stat.label}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Search by Name/Admission No</mat-label>
                    <input type="text" matInput formControlName="name">
                </mat-form-field>
                <button mat-flat-button color="primary">Search</button>
                <button mat-flat-button color="primary" type="button" (click)="resetForm()">Reset</button>
            </div>
        </form>
        @if(true) {
            <div class="student-table">
                <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
    
                    <!-- Student Name Column -->
                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                            Student Name
                        </th>
                        <td mat-cell *matCellDef="let element"> 
                            <div>{{element.firstName}} {{element.lastName}}</div>
                            <div>AD.No: {{element.id}}</div>
                        </td>
                    </ng-container>
    
                    <!-- Class Column -->
                    <ng-container matColumnDef="class">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                            Class
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.className}} </td>
                    </ng-container>
    
                    <!-- Section Column -->
                    <ng-container matColumnDef="section">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
                            Section
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.section}} </td>
                    </ng-container>
    
                    <!-- Gender Column -->
                    <ng-container matColumnDef="gender">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                            Gender
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                    </ng-container>
    
                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef >
                            Action
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon routerLink="/student/{{element.id}}">edit</mat-icon> &nbsp;&nbsp; 
                            <mat-icon (click)="openPaymentDialog(element)">payments</mat-icon> &nbsp;&nbsp; 
                            <mat-icon (click)="openReceiptDialog(element)">receipts</mat-icon>
                        </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator
                #paginator
                [pageSizeOptions]="pageSizes"
                showFirstLastButtons
              ></mat-paginator>
            </div>
        }
    </div>
</div>