<div class="box">
    <div class="box-body">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                @if (classList.length) {
                    <mat-form-field appearance="outline">
                        <mat-label>Class</mat-label>
                        <mat-select [formControl]="className">
                            <mat-option [value]="''">[Any]</mat-option>
                            @for (class of classList; track class) {
                            <mat-option [value]="class.value">{{class.label}}</mat-option>
                            }
                        </mat-select>
                        @if (className.errors &&
                        className.errors['required'] &&
                        className.touched) {
                        <mat-error>Class is required.</mat-error>
                        }
                    </mat-form-field>
                     }
            </div>
            @if (sectionList.length) {
            <div class="col-lg-3 col-md-6 col-sm-12">
                <mat-form-field appearance="outline">
                    <mat-label>Section</mat-label>
                    <mat-select [formControl]="section">
                        <mat-option [value]="''">[Any]</mat-option>
                            @for (sec of sectionList; track sec) {
                            <mat-option [value]="sec.value">{{sec.label}}</mat-option>
                            }
                        </mat-select>
                        @if (section.errors &&
                        section.errors['required'] &&
                        section.touched) {
                        <mat-error>Section is required.</mat-error>
                        }
                    </mat-form-field>
                </div>
            }
            <div class="col-lg-3 col-md-6 col-sm-12">
                <mat-form-field appearance="outline">
                    <mat-label>Exam</mat-label>
                    <mat-select [formControl]="exam">
                        @for (exam of examList; track exam) {
                        <mat-option [value]="exam.id">{{exam.examName}}</mat-option>
                        }
                    </mat-select>
                    @if (exam.errors &&
                    exam.errors['required'] &&
                    exam.touched) {
                    <mat-error>Exam is required.</mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                @if (this.subjectList.length) {
                    <mat-form-field appearance="outline">
                        <mat-label>Subject</mat-label>
                        <mat-select [formControl]="subject">
                            @for (subject of subjectList; track subject) {
                            <mat-option [value]="subject.value">{{subject.label}}</mat-option>
                            }
                        </mat-select>
                        @if (subject.errors &&
                        subject.errors['required'] &&
                        subject.touched) {
                        <mat-error>Subject is required.</mat-error>
                        }
                    </mat-form-field>
                }
            </div>
        </div>
        <div class="d-flex justify-content-center gap-1">
            <button class="btn btn-primary" (click)="getStudentAssignSectionByYear()">Filter</button>
            <button class="btn btn-light" (click)="resetFilter()">Reset</button>
        </div>

        @if (isShowData){
            <div class="d-flex justify-content-end">
                    <button class="btn btn-primary" (click)="submitMarks()">Save Changes</button>
            </div>
            <div class="row">
                <table mat-table [dataSource]="dataSource" class="table-responsive">
                    @for(column of displayedColumns; track column; let i=$index) {
                    <ng-container [matColumnDef]="column">
                        <th mat-header-cell *matHeaderCellDef>
                           {{headerColumn[i]}}
                        </th>
                        <td mat-cell *matCellDef="let element;let j = index">
                            @if (column == 'rollNo' || column == 'sName'){
                            {{ element[column] }}
                            }
                            @else if(column == 'marks') {
                                <!-- <mat-form-field appearance="outline" class="marks"> -->
                                    <input matInput type="number" class="form-control" [(ngModel)]="element[column]"/>
                                <!-- </mat-form-field> -->
                            }
                            @else {
                                <input matInput type="text" class="form-control" [(ngModel)]="element[column]"/>
                            }
                        </td>
                    </ng-container>
                    }
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                </table>
            </div>
        }
    </div>
</div>