<div class="change-password py-5">
    <form [formGroup]="changePasswordForm">
        <div class="row justify-content-center">
            <mat-form-field class="col-sm-12 col-md-6 col-lg-6" appearance="outline">
                <mat-label>Current Password</mat-label>
                <input matInput [type]="oldPasswordShowHide ? 'password' : 'text'" formControlName="oldPassword"/>
                @if(oldPasswordShowHide){
                    <mat-icon matSuffix (click)="oldPasswordShowHide = !oldPasswordShowHide">visibility_off</mat-icon>
                }
                @else {
                    <mat-icon matSuffix (click)="oldPasswordShowHide = !oldPasswordShowHide">visibility</mat-icon>
                }
                @if(f['oldPassword'].invalid && f['oldPassword'].touched) {
                    <mat-error>Curent Password is required.</mat-error>
                }
            </mat-form-field>
        </div>
        <div class="row justify-content-center">
            <mat-form-field class="col-sm-12 col-md-6 col-lg-6" appearance="outline">
                <mat-label>New Password</mat-label>
                <input matInput [type]="newPasswordShowHide ? 'password' : 'text'" formControlName="newPassword"/>
                @if(newPasswordShowHide){
                    <mat-icon matSuffix (click)="newPasswordShowHide = !newPasswordShowHide">visibility_off</mat-icon>
                }
                @else {
                    <mat-icon matSuffix (click)="newPasswordShowHide = !newPasswordShowHide">visibility</mat-icon>
                }
                @if(f['newPassword'].hasError('required') && f['newPassword'].touched) {
                    <mat-error>New Password is required.</mat-error>
                }
                @else if(f['newPassword'].hasError('pattern') && f['newPassword'].touched) {
                    <mat-error>Pattern should contain 1 Special character, 1 uppercase letter, 1 lowercase letter with 8 characters.</mat-error>
                }
            </mat-form-field>
        </div>
        <div class="row justify-content-center">
            <mat-form-field class="col-sm-12 col-md-6 col-lg-6" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput [type]="confirmPasswordShowHide ? 'password' : 'text'" formControlName="confirmPassword"/>
                @if(confirmPasswordShowHide){
                    <mat-icon matSuffix (click)="confirmPasswordShowHide = !confirmPasswordShowHide">visibility_off</mat-icon>
                }
                @else {
                    <mat-icon matSuffix (click)="confirmPasswordShowHide = !confirmPasswordShowHide">visibility</mat-icon>

                }
                @if(f['confirmPassword'].hasError('required') && f['confirmPassword'].touched) {
                    <mat-error>Confirm Password is required.</mat-error>
                }
                @else if(f['confirmPassword'].hasError('confirmedValidator') && f['confirmPassword'].touched) {
                    <mat-error>New Password and Confirm Password must be match</mat-error>
                }
            </mat-form-field>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <button class="btn btn-primary" (click)="changePassword()">Save</button>
                <button class="btn btn-light ms-1" routerLink="/dashboard">Cancel</button>
            </div>
        </div>
    </form>
</div>