<div class="box">
    <div class="box-body">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                @if (classList.length) {
                    <mat-form-field appearance="outline">
                        <mat-label>Class</mat-label>
                        <mat-select [formControl]="className">
                            <mat-option [value]="''">[Any]</mat-option>
                            @for (class of classList; track class) {
                            <mat-option [value]="class.value">{{class.label}}</mat-option>
                            }
                        </mat-select>
                        @if (className.errors &&
                        className.errors['required'] &&
                        className.touched) {
                        <mat-error>Class is required.</mat-error>
                        }
                    </mat-form-field>
                     }
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <mat-form-field appearance="outline">
                    <mat-label>Academic Year</mat-label>
                    <mat-select [formControl]="acedemicYearId">
                        @for (academic of academicList; track academic) {
                        <mat-option [value]="academic.value">{{academic.label}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <mat-form-field appearance="outline">
                    <mat-label>Exam</mat-label>
                    <mat-select [formControl]="exam">
                        @for (exam of examList; track exam) {
                        <mat-option [value]="exam.id">{{exam.examName}}</mat-option>
                        }
                    </mat-select>
                    @if (exam.errors &&
                    exam.errors['required'] &&
                    exam.touched) {
                    <mat-error>Exam is required.</mat-error>
                    }
                </mat-form-field>
            </div>
        </div>
        <div class="d-flex justify-content-center gap-1">
            <button class="btn btn-primary" (click)="getExamsDetails()">Filter</button>
            <button class="btn btn-light" (click)="resetFilter()">Reset</button>
        </div>

        @if (isShowData){
            <div class="d-flex justify-content-end">
                    <button class="btn btn-primary" (click)="saveExamDetails()">Save Changes</button>
            </div>
            <div class="row">
                <table mat-table [dataSource]="dataSource" class="table-responsive">
                    @for(column of displayedColumns; track column; let i=$index) {
                    <ng-container [matColumnDef]="column">
                        <th mat-header-cell *matHeaderCellDef>
                           {{column}}
                        </th>
                        <td mat-cell *matCellDef="let element;let j = index">
                            @if (apiColumns[i] == 'subject'){
                            {{ element[apiColumns[i]] }}
                            }
                            @else if (apiColumns[i] == 'minMarks' || apiColumns[i] == 'maxMarks'){
                                <mat-form-field appearance="outline" class="marks">
                                    <input matInput type="text" [(ngModel)]="element[apiColumns[i]]"/>
                                </mat-form-field>
                            }
                            @else if (apiColumns[i] == 'isAddInTotal' || apiColumns[i] == 'willExamConduct') {
                                <mat-slide-toggle [(ngModel)]="element[apiColumns[i]]"></mat-slide-toggle>
                            }
                        </td>
                    </ng-container>
                    }
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                </table>
            </div>
        }
    </div>
</div>