.enquiry {
    border: 1px solid #ffff;
    margin: 30px 30px;
    border-radius: 17.5px;
    background-color: #ffff;

    .header {
        margin: 10px;
    }

    .body {
        display: flex;
        flex-direction: column;

        .details {
            // display: flex;
        }

        .visibility-hidden{
            visibility: hidden;
        }

        fieldSet, form {
            display: flex;
            border-radius: 5px;
            gap: 10px;
            flex-wrap: wrap;
            // width: 50%;
        }

        .Sibiling-col{
            display: flex;
            flex-direction: column;
            div {
                display: flex;
                gap: 10px;
            }

            .sibilings-list {
                display: flex;
                align-items: center;
                padding-left: 20px;
            }
        }

        .gap-10 {
            display: flex;
            gap: 10px;
        }

        .certificate-list {
            display: flex;
            flex-direction: column;
        }

        .certificate{
            display: flex;
            align-items: center;
            padding-left: 20px;
        }
    }
}