<div class="enquiry">
    <div class="header">
        <h1>Admission Form</h1>
    </div>
    <div class="body">
        <!-- <form> -->
        <div class="admission-fields">
            <div class="details">
                <form [formGroup]="studentInfoForm">
                    <fieldset>
                        <legend>Student Details</legend>
                        <mat-form-field appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput formControlName="firstName" />
                            @if (studentForm['firstName'].errors &&
                            studentForm['firstName'].errors['required'] &&
                            studentForm['firstName'].touched) {
                            <mat-error>First Name is required.</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="lastName" />
                            @if (studentForm['lastName'].errors &&
                            studentForm['lastName'].errors['required'] &&
                            studentForm['lastName'].touched) {
                            <mat-error>Last Name is required.</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Date of Birth</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="dob">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            @if (studentForm['dob'].errors &&
                            studentForm['dob'].errors['required'] &&
                            studentForm['dob'].touched) {
                            <mat-error>Date of Birth is required.</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Grade/Class</mat-label>
                            <mat-select formControlName="className">
                                @for (class of classList; track class) {
                                <mat-option [value]="class.value">{{class.label}}</mat-option>
                                }
                            </mat-select>
                            @if (studentForm['className'].errors &&
                            studentForm['className'].errors['required'] &&
                            studentForm['className'].touched) {
                            <mat-error>Class is required.</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Section</mat-label>
                            <input matInput formControlName="section" />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Gender</mat-label>
                            <mat-select formControlName="gender">
                                <mat-option value="Male">Male</mat-option>
                                <mat-option value="Female">Female</mat-option>
                            </mat-select>
                            @if (studentForm['gender'].errors &&
                            studentForm['gender'].errors['required'] &&
                            studentForm['gender'].touched) {
                            <mat-error>Gender is required.</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Aadhar Number</mat-label>
                            <input matInput formControlName="adharNumber" mask="0000 0000 0000" />
                            @if (studentForm['adharNumber'].errors &&
                            studentForm['adharNumber'].errors['required'] &&
                            studentForm['adharNumber'].touched) {
                            <mat-error>Aadhar Number is required.</mat-error>
                            }
                            @if (studentForm['adharNumber'].errors &&
                            studentForm['adharNumber'].errors['maxlength'] &&
                            studentForm['adharNumber'].touched) {
                            <mat-error>Aadhar Number must not greater than 12 characters</mat-error>
                            }
                            @if (studentForm['adharNumber'].errors &&
                            studentForm['adharNumber'].errors['minlength'] &&
                            studentForm['adharNumber'].touched) {
                            <mat-error>Aadhar Number must not less than 12 characters</mat-error>
                            }
                        </mat-form-field>
                    </fieldset>
                    <fieldset>
                        <legend>Student Photo</legend>
                        <input id="txtFile" (change)="imageUpload($event)" type="file" value="upload File" style="width: 100%;"/>
                        <div>
                            <img id="imgviewer" [src]="imgViewer" width="200" height="200" style="width: 100%;"/>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="details">
                <form [formGroup]="fatherInfoForm">
                    <fieldset>
                        <legend>Father Details</legend>
                        <mat-form-field appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput formControlName="firstName" />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="lastName" />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Occupation</mat-label>
                            <input matInput formControlName="occupation" />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Qualification</mat-label>
                            <input matInput formControlName="qualification" />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Conatct No</mat-label>
                            <input matInput formControlName="contactNumber" mask="0000000000" />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Aadhar Number</mat-label>
                            <input matInput formControlName="adharNumber" mask="0000 0000 0000" />
                            @if (fatherForm['adharNumber'].errors &&
                            fatherForm['adharNumber'].errors['maxlength'] &&
                            fatherForm['adharNumber'].touched) {
                            <mat-error>Aadhar Number must not exceed 12 characters</mat-error>
                            }
                        </mat-form-field>
                    </fieldset>
                </form>

                <form [formGroup]="motherInfoForm">
                    <fieldset>
                        <legend>Mother Details</legend>
                        <mat-form-field appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput formControlName="firstName" />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="lastName" />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Occupation</mat-label>
                            <input matInput formControlName="occupation" />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Qualification</mat-label>
                            <input matInput formControlName="qualification" />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Conatct No</mat-label>
                            <input matInput formControlName="contactNumber" mask="0000000000" />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Aadhar Number</mat-label>
                            <input matInput formControlName="adharNumber" mask="0000 0000 0000" />
                        </mat-form-field>
                    </fieldset>
                </form>
            </div>

            <div class="details">
                <form [formGroup]="AddressInfoForm">
                    <fieldset>
                        <legend>Address</legend>
                        <mat-form-field appearance="outline">
                            <mat-label>House No</mat-label>
                            <input matInput formControlName="houseNo" />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Street</mat-label>
                            <input matInput formControlName="streetName" />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>City</mat-label>
                            <input matInput formControlName="city" />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>District</mat-label>
                            <input matInput formControlName="district" />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>State</mat-label>
                            <input matInput formControlName="state" />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Country</mat-label>
                            <input matInput formControlName="country" />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Pin Code</mat-label>
                            <input matInput formControlName="zipCode" />
                        </mat-form-field>
                    </fieldset>
                </form>

                <fieldset>
                    <legend>Sibiling Details</legend>
                    <div class="Sibiling-col">
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Sibiling </mat-label>
                                <input type="text" placeholder="Select Sibiling" aria-label="Select Sibiling" matInput
                                    [formControl]="sibilingCtrl" [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                    @for (option of filteredSibiling | async; track option) {
                                    <mat-option [value]="option.userName">
                                        <span>{{option.firstName}} {{option.lastName}}</span> |
                                        <small>Class: {{option.className}}</small>
                                    </mat-option>
                                    }
                                </mat-autocomplete>
                            </mat-form-field>
                            <button mat-flat-button color="primary" (click)="addSibiling()">Add</button>
                        </div>
                        <div>
                            <mat-chip-set aria-label="Dog selection">
                                @for (record of selectedStudents; track record; let i = $index) {
                                <mat-chip>
                                    <div class="sibilings-list">
                                        <div>                                            
                                            <span>{{record.userName}}</span> |
                                            <span>Class: {{record.className}}</span>
                                        </div>
                                        <button mat-icon-button (click)="removeSibiling(i)">
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </div>
                                </mat-chip>
                                }
                            </mat-chip-set>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>CheckList</legend>
                    <div class="certificate-list">
                        <div>
                            <form>
                                <mat-form-field appearance="outline">
                                    <mat-label>Certificate Name</mat-label>
                                    <input matInput type="text" [formControl]="certificate"/>
                                </mat-form-field>
                                <button mat-flat-button color="primary" (click)="addcheckList()">Add</button>
                            </form>
                        </div>
                        <div>
                            <mat-chip-set aria-label="Dog selection">
                                @for (certificate of certificateList; track certificate; let i = $index) {
                                <mat-chip>
                                    <div class="certificate">
                                        <div>
                                            {{certificate}}
                                        </div>
                                        <button mat-icon-button (click)="removeCertificateList(i)">
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </div>
                                </mat-chip>
                                }
                            </mat-chip-set>    
                        </div>
                    </div>
                </fieldset>
            </div>

        </div>
        <div class="enquiry-action">
            <button mat-flat-button color="primary" (click)="OnSubmit()">Create</button>
            <button mat-button routerLink="/student-list">Cancel</button>
        </div>
        <!-- </form> -->
    </div>
</div>