<div class="row">
    <div class="col-lg-4 col-md-12">
        <div class="box profile-header">
            <div class="box-body text-center">
                <div class="profile-image mb-30"> <img src="../../../../assets/teacher_f.jpg" class="box-shadowed rounded-circle" alt=""> </div>
                <div>
                    <h3 class="mb-0"><strong>Pro. Charlotte</strong> Deo</h3>
                    <span class="job_post">Design Faculty</span>
                    <p class="mt-15">795 Folsom Ave, Suite 600<br> San Francisco, CADGE 94107</p>
                </div>
                <div>
                    <button class="btn btn-primary btn-rounded">Follow</button>
                    <button class="btn btn-primary-light btn-rounded">Message</button>
                </div>
            </div>                    
        </div>                               
        <div class="box">
            <div class="box-body">
                <div class="workingtime">
                    <h5 class="fw-500">Working Time</h5>
                    <small class="text-muted">Monday to Friday</small>
                    <p>09:00 AM - 4:00 PM</p>
                    <hr>
                    <small class="text-muted">Saturday</small>
                    <p>09:00 AM - 12:30 PM</p>
                    <hr>
                </div>
                <div class="reviews">
                    <h5 class="fw-500">Reviews</h5>
                    <small class="text-muted">Staff</small>
                    <p class="fs-16">
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star-outline"></i>
                        <i class="bi bi-star-outline"></i>
                    </p>                            
                    <hr>
                    <small class="text-muted">Helpfulness</small>
                    <p class="fs-16">
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                    </p>
                    <hr>
                    <small class="text-muted">Knowledge</small>
                    <p class="fs-16">
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star-outline"></i>
                        <i class="bi bi-star-outline"></i>
                    </p>
                    <hr>
                    <small class="text-muted">Cost</small>
                    <p class="fs-16">
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star-outline"></i>
                        <i class="bi bi-star-outline"></i>
                        <i class="bi bi-star-outline"></i>
                    </p>
                    <hr>
                </div>
            </div>
        </div>           
    </div>
    <div class="col-lg-8 col-md-12">
        <div class="box box-body">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link show active" data-bs-toggle="tab" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link show" data-bs-toggle="tab" href="#Account">Account</a></li>                        
            </ul>
            <div class="tab-content">
                <div class="tab-pane py-30 show active" id="about">
                    <ul class="list-unstyled">
                        <li><p><i class="bi bi-mortarboard-fill"></i><strong>Degree:</strong> PHD in Mathmatics</p></li>
                        <li><p><i class="bi bi-star me-1"></i><strong>Experience:</strong> 20 Years in university Math</p></li>
                        <li><p><i class="bi bi-heart me-1"></i><strong>Hobbies:</strong> Music, Dancing and Family</p></li>
                        <li><p><i class="bi bi-label me-1"></i><strong>My Courses:</strong> Higher Math, Math Puzzle</p></li>
                        <li><p><i class="bi bi-label me-1"></i><strong>Projects:</strong> Map Creation</p></li>
                    </ul>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in finibus neque. Vivamus in ipsum quis elit vehicula tempus vitae quis lacus. Vestibulum interdum diam non mi cursus venenatis. Morbi lacinia libero et elementum vulputate. Vivamus et facilisis mauris. Maecenas nec massa auctor, ultricies massa eu, tristique erat. Vivamus in ipsum quis elit vehicula tempus vitae quis lacus. Eu pellentesque, accumsan tellus leo, ultrices mi dui lectus sem nulla eu.Eu pellentesque, accumsan tellus leo, ultrices mi dui</p>
                    <p>lectus sem nulla eu. Maecenas arcu, nec ridiculus quisque orci, vulputate mattis risus erat. lectus sem nulla eu.Eu pellentesque, accumsan tellus leo, ultrices mi dui lectus sem nulla eu. Maecenas arcu, nec ridiculus quisque orci, vulputate mattis risus erat.</p>                                                        
                </div>
                <div class="tab-pane py-30 show" id="Account">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Current Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="New Password">
                    </div>
                    <button class="btn btn-info btn-round">Save Changes</button>
                    <hr>
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name">
                            </div>
                        </div>                                    
                        <div class="col-lg-4 col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="City">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="E-mail">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Country">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mb-10">
                                <textarea rows="4" class="form-control no-resize" placeholder="Address Line 1"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="checkbox">
                                <input id="procheck2" type="checkbox">
                                <label for="procheck2">New task notifications</label>
                            </div>
                            <div class="checkbox">
                                <input id="procheck3" type="checkbox">
                                <label for="procheck3">New friend request notifications</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="mt-30 btn btn-primary btn-round">Save Changes</button>
                        </div>
                    </div>
                </div>                        
            </div>
        </div>
    </div>
</div>