<div mat-dialog-title>
    <h1>Student Activity</h1>
</div>
<mat-dialog-content>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Attendance">
            <ng-template matTabContent>
                <app-student-attendance></app-student-attendance>
            </ng-template>
        </mat-tab>
        <mat-tab label="Report Card">Report Card</mat-tab>
        <mat-tab label="Third">Content 3</mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="btn btn-light" mat-dialog-close>Close</button>
</mat-dialog-actions>