<!-- sidebar-->
@if (!openMenu){
	<div class="user-profile my-15 px-20 py-10 b-1 rounded10 mx-15">
		<div class="d-flex align-items-center justify-content-between">
			<div class="image d-flex align-items-center">
				<img src="../../../assets/avatar-13.png" class="rounded-0 me-10" alt="User Image">
				<div>
					<h4 class="mb-0 fw-600">{{authentication.displayName()}}</h4>
					<p class="mb-0">{{authentication.role()}}</p>
				</div>
			</div>
			<div class="info">
				<div class="dropdown">
					<a class="dropdown-toggle" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false"></a>
					<ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenu2">
						<li><a class="dropdown-item" routerLink="profile"><i class="bi bi-person"></i> Profile</a></li>
						<a class="dropdown-item" routerLink="changePassword"><i class="bi bi-arrow-repeat"></i> Change Password</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" (click)="signOut()"><i class="bi bi-lock"></i> Logout</a>
					</ul>
				</div>
			</div>
		</div>
	</div>
}
<div class="multinav">
	<div class="multinav-scroll ps ps--active-y" style="height: 97%;">
		<!-- sidebar menu-->
		<ul class="sidebar-menu tree" [ngClass]="{'sidebar-scroll': !openMenu}" data-widget="tree">
			@if (!openMenu){
			<li class="header">Main Menu</li>
			}

			@for (item of menuList; track item; let i=$index) {
				@if (!item.isSubMenu){
				<li [ngClass]="{'active': item.isActive}">
					<a  [routerLink]="item.routerLink">
						<i [class]="item.icon"></i>
						@if (!openMenu){
							<span>{{item.title}}</span>
						}
					</a>
				</li>
				}
				@else {
					<li class="menu-item" [ngClass]="{'d-flex': openMenu, 'active': item.isActive}">
						<a class="sidebar-menu-dropdown">
							<i [class]="item.icon"></i>
							@if (!openMenu){
								<span>{{item.title}}</span>
							}
							@if (!openMenu){
								<i class="bi bi-caret-down fs-16 float-end"></i>
							}
						</a>
						<ul [ngClass]="!openMenu ? 'sub-sidebar-menu' : 'sidebar-submenu'">
							@for (subItem of item.subList; track subItem; let i=$index) {
								<li><a class="link" [routerLink]="subItem.routerLink">{{subItem.title}}</a></li>
							}
						</ul>
					</li> 
				}
			}			
		</ul>
	</div>
</div>