mat-form-field {
    width: 100%;
}

form:first-child {
    padding-top: 10px;
}

.grid-row {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.box-header {
    background-color: #172b4c !important;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .row {
      display: flex;
      flex-direction: column;
    }
    #payment {
      order: 2;
    }
    #general {
      order: 1;
    }
  }