<div>
    <button type="button" class="btn btn-primary mt-1 float-end" (click)="classModal()">Add Class</button>
</div>

<div>
    <table mat-table [dataSource]="classDataSource" matSort (matSortChange)="announceSortChange($event)">

        <!-- Class Column -->
        <ng-container matColumnDef="className">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                Class
            </th>
            <td mat-cell *matCellDef="let element">
                @if (!element.isEditMode) {
                    {{element.className}}
                }
                @else {
                    <mat-form-field appearance="outline">
                        <input matInput [value]="element.className" [(ngModel)]="element.className"/>
                    </mat-form-field>
                }
            </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
                Action
            </th>
            <td mat-cell *matCellDef="let element">
                @if (element.isEditMode) {
                    <button type="button" class="btn btn-primary" (click)="updateClass(element)">Save</button>
                    <button type="button" class="btn btn-light ms-1" (click)="element.isEditMode = !element.isEditMode">Cancel</button>
                }
                @else {
                    <button type="button" class="btn btn-primary" (click)="element.isEditMode = !element.isEditMode">Edit Class</button>
                    <button type="button" class="btn btn-primary ms-1" (click)="openSectionModal(element)">Section</button>
                    <button type="button" class="btn btn-primary ms-1" (click)="openSubjectModal(element)">Subject</button>
                }
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<ng-template #openClassPopup>
    <div>
        <h1 mat-dialog-title>Class</h1>
        <mat-dialog-content>
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput [formControl]="className"/>
                @if (className.invalid && className.touched) {
                <mat-error>Class Name is Required.</mat-error>
                }
            </mat-form-field>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button type="button" class="btn btn-primary" [mat-dialog-close]="true" (click)="saveClass()">Save</button>
            <button type="button" class="btn btn-light" mat-dialog-close>Cancel</button>
        </mat-dialog-actions>
    </div>
</ng-template>

<ng-template #openSectionPopup>
    @if (openedClass && openedClass['className']) {
        <h1 mat-dialog-title>Section - Class: {{openedClass['className']}}</h1>
    }
    @else {
        <h1 mat-dialog-title>Section</h1>
    }
        <mat-dialog-content>
            <div class="section-form">
                <mat-form-field appearance="outline">
                    <mat-label>section Name</mat-label>
                    <input matInput [formControl]="sectionName"/>
                    @if (sectionName.invalid && sectionName.touched) {
                        <mat-error>Section Name is Required.</mat-error>
                    }
                </mat-form-field>
                <button class="btn btn-primary" (click)="saveSection()">Save</button>
            </div>
            <div>
                <table mat-table [dataSource]="sectionDataSource" matSort #sectionSort (matSortChange)="announceSortChange($event)">
            
                    <!-- Class Column -->
                    <ng-container matColumnDef="section">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                            Section
                        </th>
                        <td mat-cell *matCellDef="let element">
                            @if (!element.isEditSectionMode) {
                                {{element.section}}
                            }
                            @else {
                                <mat-form-field appearance="outline">
                                    <input matInput [value]="element.section" [(ngModel)]="element.section"/>
                                </mat-form-field>
                            }
                        </td>
                    </ng-container>
            
                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>
                            Action
                        </th>
                        <td mat-cell *matCellDef="let element">
                            @if (element.isEditSectionMode) {
                                <button class="btn btn-primary" (click)="updateSection(element)">Save</button>
                                <button class="btn btn-light ms-1" (click)="element.isEditSectionMode = !element.isEditSectionMode">Cancel</button>
                            }
                            @else {
                                <button class="btn btn-primary" (click)="element.isEditSectionMode = !element.isEditSectionMode">Edit Section</button>
                            }
                        </td>
                    </ng-container>
            
                    <tr mat-header-row *matHeaderRowDef="displayedSectionColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedSectionColumns;"></tr>
                </table>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button class="btn btn-light" mat-dialog-close>Cancel</button>
        </mat-dialog-actions>
</ng-template>

<ng-template #openSubjectPopup>
    @if (openedClass && openedClass['className']) {
        <h1 mat-dialog-title>Subject - Class: {{openedClass['className']}}</h1>
    }
    @else {
        <h1 mat-dialog-title>Subject</h1>
    }
        <mat-dialog-content>
            <div class="section-form">
                <mat-form-field appearance="outline">
                    <mat-label>Subject Name</mat-label>
                    <mat-select [formControl]="subjectName">
                        @for (subject of subjectList; track subject) {
                            <mat-option [value]="subject.id">{{subject.subjectName}}</mat-option>
                        }
                    </mat-select>
                    @if (subjectName.invalid && subjectName.touched) {
                        <mat-error>Subject Name is Required.</mat-error>
                    }
                </mat-form-field>
                <button class="btn btn-primary" (click)="saveSubject()">Save</button>
            </div>
            <div>
                <table mat-table [dataSource]="subjectDataSource" matSort #subjectSort (matSortChange)="announceSortChange($event)">
            
                    Class Column
                    <ng-container matColumnDef="subject">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                            Subject
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.subject}}                            
                        </td>
                    </ng-container>
            
                    Action Column
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>
                           Action
                        </th>
                        <td mat-cell *matCellDef="let element">
                           <button class="btn btn-primary" (click)="removeClassSubject(element.id)">Remove</button>
                        </td>
                    </ng-container>
            
                    <tr mat-header-row *matHeaderRowDef="displayedSubjectColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedSubjectColumns;"></tr>
                </table>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button class="btn btn-light" mat-dialog-close>Cancel</button>
        </mat-dialog-actions>
</ng-template>