/* You can add global styles to this file, and also import other style files */
@import './theme.scss';

html,
body {
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    color: #172b4c;
    // font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    background-color: #f6f6f6;
}


mat-form-field {
    margin-bottom: 10px;
}

.theme-primary .btn-flat.btn-primary-light {
    color: #7047ee;
    background-color: #f3f6f9;
    border-color: transparent;
}

.position-relative {
    position: relative !important;
}


.my-15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.mx-15 {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.py-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.px-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.b-1 {
    border: 1px solid #f3f6f9 !important;
}

.fw-500 {
    font-weight: 500;
}

.rounded10 {
    border-radius: 10px;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.d-flex {
    display: flex !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.fw-600 {
    font-weight: 600;
}

.fs-16 {
    font-size: 16px !important;
}

.box {
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0px;
    -webkit-transition: .5s;
    transition: .5s;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid #EFEFFD;
}

.box-body{
    padding: 1.5rem;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border-radius: 10px;
}

.w-100{
   width: 100px !important
}

.box-header {
    color: #172b4c;
    display: block;
    padding: 1.5rem;
    position: relative;
    border-bottom: 1px solid #EFEFFD;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box-footer {
    border-top: 1px solid #EFEFFD;
    padding: 1.5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box-body ul li {
    line-height: 24px;
}

.box-header .box-title {
    display: inline-block;
    margin: 0;
    font-weight: 400;
}

.box-header.with-border {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.box-header {
    color: #172b4c;
    display: block;
    padding: 1.5rem;
    position: relative;
    border-bottom: 1px solid #EFEFFD;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.theme-primary .badge-warning-light, .badge-warning {
    background-color: #fff8ea;
    color: #ffa800;
}

.theme-primary .badge-info-light, .badge-light {
    background-color: #cce5ff;
    color: #3596f7;
}

.theme-primary .badge-success-light,  .badge-success {
    background-color: #ebf9f5;
    color: #05825f;
}

.theme-primary .badge-danger-light, .badge-danger {
    background-color: #ffd6de;
    color: #ee3158;
}

.theme-primary .badge-primary-light, .badge-primary {
    background-color: #e8e1ff;
    color: #7047ee;
}

.border-left-success {
    border-left: 5px solid #05825f
}

.border-left-danger {
    border-left: 5px solid #ee3158
}

.border-left-warning {
    border-left: 5px solid #ffa800
}

.success-snackbar div{
    background-color: #ebf9f5 !important;
    border-radius: 5px;
    color: #05825f;
    .mat-icon, button {
        color: #05825f;
    }
}

.warning-snackbar div{
    background-color: #feeac1 !important;
    border-radius: 5px;
    color: #ffa800;
    .mat-icon, button{
        color: #ffa800;
    }
}

.danger-snackbar div{
    background-color: #ffd6de !important;
    border-radius: 5px;
    color: #ee3158;
    .mat-icon, button{
        color: #ee3158;
    }
}

.info-snackbar div{
    background-color: #3596f7 !important;
    border-radius: 5px;
    color: #3596f7;
    .mat-icon {
        color: #3596f7
        ;
    }
}