<div class="box">
    <div class="box-body">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                @if (classList.length) {
                    <mat-form-field appearance="outline">
                        <mat-label>Class</mat-label>
                        <mat-select [formControl]="className">
                            <mat-option [value]="''">[Any]</mat-option>
                            @for (class of classList; track class) {
                            <mat-option [value]="class.value">{{class.label}}</mat-option>
                            }
                        </mat-select>
                        @if (className.errors &&
                        className.errors['required'] &&
                        className.touched) {
                        <mat-error>Class is required.</mat-error>
                        }
                    </mat-form-field>
                }
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                @if (sectionList.length) {
                    <mat-form-field appearance="outline">
                        <mat-label>Section</mat-label>
                        <mat-select [formControl]="section">
                            <mat-option [value]="''">[Any]</mat-option>
                            @for (section of sectionList; track section) {
                            <mat-option [value]="section.value">{{section.label}}</mat-option>
                            }
                        </mat-select>
                        @if (section.errors &&
                        section.errors['required'] &&
                        section.touched) {
                        <mat-error>Section is required.</mat-error>
                        }
                    </mat-form-field>
                }
            </div>
        </div>
        <div class="d-flex justify-content-center gap-1">
            <button class="btn btn-primary" (click)="getTeacherSubjects()">Filter</button>
            <button class="btn btn-light" (click)="resetFilter()">Reset</button>
        </div>

        @if (isShowData){
            <div class="d-flex justify-content-end">
                    <button class="btn btn-primary" (click)="saveExamDetails()">Save Changes</button>
            </div>
            <div class="row">
                <table mat-table [dataSource]="dataSource" class="table-responsive">
                    @for(column of displayedColumns; track column; let i=$index) {
                    <ng-container [matColumnDef]="column">
                        <th mat-header-cell *matHeaderCellDef>
                           {{column}}
                        </th>
                        <td mat-cell *matCellDef="let element;let j = index">
                            @if (apiColumns[i] == 'subject'){
                            {{ element[apiColumns[i]] }}
                            }
                            @else if (apiColumns[i] == 'teacherDetailsId'){
                                <mat-form-field appearance="outline">
                                    <mat-select [(ngModel)]="element.teacherDetailsId">
                                        @for (teacher of teacherList; track teacher) {
                                        <mat-option [value]="teacher.id">{{teacher.firstName}} {{teacher.lastName}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            }
                            @else if (apiColumns[i] == 'isClassTeacher') {
                                <mat-slide-toggle [(ngModel)]="element[apiColumns[i]]"></mat-slide-toggle>
                            }
                           
                        </td>
                    </ng-container>
                    }
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                </table>
            </div>
        }
    </div>
</div>