<h1 mat-dialog-title>ADD Teacher</h1>
<mat-dialog-content>
    <form [formGroup]="teacherForm" class="mt-2">
        <div class="row">
                <div class="col-sm-12 col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="firstName"/>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastName"/>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Father Name</mat-label>
                        <input matInput formControlName="fatherName"/>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Date Of Birth</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        @if (teacherFormControl['dateOfBirth'].errors &&
                        teacherFormControl['dateOfBirth'].errors['required'] &&
                        teacherFormControl['dateOfBirth'].touched) {
                        <mat-error>Date of Birth is required.</mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input matInput formControlName="phoneNumber" mask="0000000000"/>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput email="true" formControlName="email" type="email"/>
                        @if (teacherFormControl['email'].errors &&
                        teacherFormControl['email'].errors['required'] &&
                        teacherFormControl['email'].touched) {
                        <mat-error>Date of Birth is required.</mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Education Qualification</mat-label>
                        <input matInput formControlName="qualification"/>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Pass out year</mat-label>
                        <input matInput formControlName="passOutYear" mask="0000"/>
                    </mat-form-field>
                </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h1>Experience</h1>
            </div>
            <div class="col-sm-12 col-md-6">
                <button class="btn btn-primary float-end" (click)="onAddExperience()">Add Experience</button>
            </div>
        </div>
        @if (addExperienceFormArray.controls.length > 0){
        <div class="row mt-2">
            <div class="col-sm-12">
                <ng-container formArrayName="experienceDetail">
                    @for(row of addExperienceFormArray.controls; track row; let index = $index){
                    <div class="row" [formGroupName]="index">
                        <div class="col-sm-12 col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>School Name</mat-label>
                                <input matInput formControlName="schoolName" />
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Start End Date</mat-label>
                                <input matInput formControlName="workingYear" />
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Designation</mat-label>
                                <input matInput formControlName="designation" />
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <button class="btn btn-danger" (click)="onRemoveExperience(index)">Remove</button>
                        </div>
                    </div>
                    }
                </ng-container>
            </div>
        </div>
        }
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="btn btn-primary" (click)="saveTeacherInfo()">Save</button>
    <button class="btn btn-light ms-2" mat-dialog-close>Cancel</button>
</mat-dialog-actions>